{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-image: linear-gradient(90deg,#cfae40, #fda085);
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header h1{
    margin: 10px;
    font-family: 'Prata', serif;
}

.nav-bar{
    justify-content: center;
}

.nav-list{
    display: inline-block;
    border: 10px;
    padding: 10px;
    font-size: 1.5rem;   
}

.nav-list:hover{
    background-color: #ffd7ba;
    color: #1d3557;
}